*{
    margin:0;
    padding: 0;
      font-family: "Lato", sans-serif;

}

body, .main-container{
    min-height:100vh;
}
/* 2 rows, 2 col*/
.main-container{
   
    display:grid;
    background: lightblue;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
      grid-template-columns: 1fr 5fr; 
      grid-template-rows: 2fr 7fr;
}
.main-container>div{
    display: grid;
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
    background-color: #FA6081;
}
.content{
    grid-area: content;
}


.inner-content{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    

}
.main-container{
    border:1px solid #FA6081;
}
.main-container>div{
    border:1px solid black;
}
.projects>div{
    border:1px solid black;
}
.sideannounce{
    display:grid;
     

}
.announcement, .trending{
    border:1px solid black;

}

/* design*/

.header-icon{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    align-content: center;
    
}
.left{
    display: flex;
    align-items: center;
    align-content: flex-start;
    width:60%;  
    margin-left:45px;
      min-width: 0;

}
.right{
    display: flex;
    align-items: center;
    width: 30%;
   justify-content: center;
   gap:15px;
}
input[type="text"]{
    border-radius: 30px;
    background: #E2E8F0;
    width: 80%;
    height: 71%;
    margin-left: 1%;
      text-indent: 20px;
      border: none;
}
input[type="text"]:focus{
box-shadow: none;

}
.text{
    margin:0 16px;
}

.right button{
    padding: 10px;   
    width:23%;
    min-width: 0;
    border-radius: 24px;
 
}
button{
    background-color: #FA6081;
    border: none;
    font-size: 13px;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.3rem;
}
button:hover{
transform: scale(1.05); 
}