*{
    margin:0;
    padding: 0;
}

body, .main-container{
    min-height:100vh;
}
/* 2 rows, 2 col*/
.main-container{
    border:1px solid blue;
    display:grid;
    background: lightblue;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
      grid-template-columns: 1fr 5fr; 
      grid-template-rows: 2fr 7fr;
}
.main-container>div{
    border:1px solid black;
    display: grid;
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
}


.inner-content{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border:1px solid black;

}
.project{
        border:1px solid black;

}
.sideannounce{
    display:grid;
     

}
.announcement, .trending{
        border:1px solid black;

}

/* design*/

.header-icon{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    align-content: center;
    
}
.left{
    display: flex;
    align-items: center;
    align-content: flex-start;
    border:1px solid yellow;
    width:70%;  
}
input[type="text"]{
    border-radius: 30px;
    background: #E2E8F0;
    width: 60%;
    height: 50%;
    margin-left: 1%;
}